table{
  width:50%;
  margin-left:22%;
  margin-right:22%;
  text-align:center;
  padding:15px;
  border-collapse:collapse;
}
td,tr{
  margin:3px;
  border:3px solid red;
}
td{
  margin:40px;
  padding:40px;
  font-family:Arial;
  font-size:40px;
  color:black;
}
td.rotations{
  color:blue;
  -webkit-animation: rotate-obj 1s linear 1;
  -webkit-animation-fill-mode: forwards;
}
@keyframes rotate-obj {
  to{
    font-size:70px;
    -webkit-transform: rotate(180deg);
  }
}
@-webkit-keyframes rotate-obj{
  to{
    font-size:70px;
    -webkit-transform: rotate(180deg);
  }
}
@-moz-keyframes rotate-obj{
  to{
    font-size:70px;
    -webkit-transform: rotate(180deg);
  }
}
@-webkit-keyframes rotate-obj{
 to{
   font-size:70px;
    -webkit-transform: rotate(180deg);
  }
}

